.container {
    
}
.container-top {
    
}
.omelette-img {
    
}
.container-main {
    
}
.header-deskription {
    
}
.time-of-preparing {
    
}
.prepare-time {
    
}
.ingredients {
    
}
.instructions {
    
}
.nutrition {
    
}
.nutrition-grid {
    
}




.attribution { 
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}